* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

footer {
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.973);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

footer ul li a {
  color: rgb(255, 255, 255);
}

.sm ul {
  list-style: none;
}

.sm ul li {
  padding-right: 10px;
}

.footer-about p {
  font-weight: 600;
}

.footer-about {
  display: none;
}

.feather path {
  color: white;
}

@media screen and (min-width: 800px) {
  .footer-about {
    display: inline;
    color: rgb(255, 255, 255);
    margin-left: 25px;
    padding-top: 10px;
    line-height: 24px;
  }

  .hero-content {
    width: 50%;
    margin: auto 0;
  }

  .auth-links {
    justify-content: center;
    gap: 10%;
  }

  .footer-links {
    width: 20%;
    margin-right: 25px;
  }
}
