@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

/*body section*/

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/bank-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-body h1 {
  font-size: 45px;
  margin-bottom: 25px;
  padding: 35px 0;
  color: aqua;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 6px 6px black;
}

.hero-content {
  margin: auto;
}

section div a {
  color: cyan;
  font-weight: 800;
  font-size: 20px;
  margin: 4px;
}

.auth-links {
  width: 100%;
  display: flex;

  justify-content: space-around;
}

.auth-btn {
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline;
}

.auth-btn:hover {
  background-color: aqua;
}

section div a:hover {
  color: black;
}

/*Footer code*/

footer {
  padding: 15px 15px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

footer ul li a {
  color: rgb(255, 255, 255);
}

.sm ul {
  list-style: none;
}

.sm ul li {
  font-size: 18px;
  padding-right: 10px;
}

.footer-about p {
  font-weight: 600;
}

.footer-about {
  display: none;
  margin-left: 25px;
}

@media screen and (min-width: 800px) {
  .main-body h1 {
    font-size: 45px;
    font-size: 50px;
    color: aqua;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }

  .footer-about {
    display: inline;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    line-height: 24px;
  }

  .hero-content {
    width: 50%;
    margin: auto 0;
  }

  .auth-links {
    justify-content: center;
    gap: 10%;
  }

  .footer-links {
    width: 15%;
  }
}
