@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

/*body section*/

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/bank-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-body h1 {
  font-size: 45px;
  margin-bottom: 50px;
  color: aqua;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 6px 6px black;
}

.hero-content {
  padding-bottom: 50px;
  margin: auto;
}

section div a {
  color: cyan;
  font-weight: 800;
  font-size: 20px;
  margin: 4px;
}

.login-link {
  background-color: black;
  border-radius: 15px;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 125px;
}

.auth-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.auth-btn {
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline;
}

.auth-btn:hover {
  background-color: aqua;
}

section div a:hover {
  color: black;
}

/*Footer code*/

footer {
  padding: 15px 15px;
  background-color: #111;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 18px;
  line-height: 32px;
}

footer ul li a {
  color: white;
}

.sm ul {
  list-style: none;
}

.sm ul li {
  font-size: 18px;
  padding-right: 10px;
}

.footer-about {
  display: none;
}

/*Login Page*/
/* 
body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
} */

/*Sign-up form*/

/* body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/*Register form*/

/* .box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
} */

/* Media for Desktop version */

@media screen and (min-width: 800px) {
  .main-body h1 {
    font-size: 45px;
    font-size: 50px;
    color: aqua;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }

  .footer-about {
    display: inline;
    color: white;
    padding-top: 10px;
    line-height: 24px;
  }

  .hero-content {
    width: 50%;
    margin: auto 0;
  }

  .auth-links {
    justify-content: center;
    gap: 10%;
  }

  .footer-links {
    width: 15%;
  }
}
