@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*Header section*/

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  background-color: black;
  position: fixed;
}

header .logo {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: aqua;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  justify-content: center;
}

header img {
  display: none;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px 0;
}

header nav ul li {
  text-transform: uppercase;
  font-size: 11px;
  background-color: black;
}

header nav ul li a {
  color: rgb(255, 254, 253);
  padding: 5px 10px;
  border-radius: 5px;
}

header nav ul li a:hover {
  background: aqua;
  transition: 0.2s;
  color: black;
}

/*body section*/

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url("assets/bank-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-body h1 {
  font-size: 2.7rem;
  margin-bottom: 50px;
  color: aqua;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 6px 6px black;
}

.hero-content {
  margin: auto;
}

main .login a h1 {
  font-size: 25px;
  border: 2px solid white;
  border-radius: 10px;
}
section div a {
  color: cyan;
  font-weight: 800;
  font-size: 20px;
  margin: 4px;
}

.login-link {
  background-color: black;
  border-radius: 15px;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 125px;
}

.auth-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.auth-btn {
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline;
}

.auth-btn:hover {
  background-color: aqua;
}

section div a:hover {
  color: black;
}

/*Footer code*/

footer {
  padding: 20px 20px;
  background-color: #111;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 18px;
  line-height: 26px;
}

footer ul li a {
  color: white;
}

footer .sm {
  padding-top: 10px;
}

.sm ul {
  list-style: none;
}

.sm ul li {
  font-size: 18px;
  padding-right: 10px;
}

.sm ul li a {
  font-size: 18px;
  line-height: 26px;
}

.footer-about {
  display: none;
}

/*Login Page*/

body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/*Sign-up form*/

body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/*Register form*/

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/* .logo { 
  margin: 0;
  float: left;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* Media for Desktop version */

@media screen and (min-width: 800px) {
  header img {
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    padding-right: 15px;
    border-right: 3px solid aqua;
  }

  header .logo-box {
    display: flex;
    align-items: center;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header a {
    margin: 0;
    margin: 10px 40px;
    font-size: 13px;
  }

  header .logo {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 30px 0 30px 0;
    padding-left: 15px;
  }

  header nav ul li {
    font-size: 13px;
    color: black;
    font-weight: bold;
  }

  .main-body h1 {
    font-size: 2.7rem;
    font-size: 50px;
    color: aqua;
    text-align: center;
    /* margin: 60px 300px; */
    font-weight: bold;
    text-shadow: 3px 3px black;
  }

  .footer-about {
    display: inline;
    color: white;
  }

  .hero-content {
    width: 50%;
    margin: auto 0;
  }

  .auth-links {
    justify-content: center;
    gap: 10%;
  }

  .footer-links {
    width: 15%;
  }
}
