@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*Header section*/

body {
  width: 100vw;
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  background-color: black;
}

header .logo {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: aqua;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px 0;
}

header nav ul li {
  text-transform: uppercase;
  font-size: 11px;
  background-color: black;
}

header nav ul li a {
  color: rgb(255, 254, 253);
  padding: 1px 4px;
  border-radius: 10px;
}

header nav ul li a:hover {
  background: aqua;
  transition: 0.2s;
  color: black;
}

/*body section*/

.main-body {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("assets/bank-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-body h1 {
  font-size: 2.7rem;
  color: aqua;
  text-align: center;
  margin: 0 auto;
  padding-top: 175px;
  font-weight: bold;
  text-shadow: 6px 6px black;
}

main .login a h1 {
  display: flex;
  justify-content: right;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
  margin-top: 0;
}
section div a {
  color: white;
  font-weight: 800;
  font-size: 20px;
  margin: 4px;
}

.login-link {
  background-color: black;
  border-radius: 15px;
  align-items: center;
  float: right;
  margin-right: 20px;
  margin-top: 25px;
}

.auth-links {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.auth-btn {
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline;
}

section div a:hover {
  color: white;
}

/*Footer code*/

footer {
  padding: 20px 20px;
  height: calc(100% - 40px);
  background-color: #111;
  overflow: hidden;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 18px;
  line-height: 26px;
}

footer ul li a {
  color: white;
}

footer .sm {
  display: block;
  float: right;
  justify-content: right;
  padding-top: 10px;
}

.sm ul {
  list-style: none;
}

.sm ul li {
  font-size: 18px;
  padding-right: 10px;
}

.sm ul li a {
  font-size: 18px;
  line-height: 26px;
}

.footer-middle {
  display: none;
}

/*Login Page*/

body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/*Sign-up form*/

body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/*Register form*/

body {
  margin: 0;
  padding: 0;
  background: rgb(119, 161, 196);
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(36, 34, 34);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: green;
}

/* .logo {
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
